.side
  .side__menu
    .side__menu__name
      %p
        = current_user.name
    .side__menu__icons
      %span.fa.fa-pencil-square-o
        = link_to edit_user_path(current_user) do
          %span.fa.fa-cog

  .side__group-lists
    .side__group-lists__group
      .side__group-lists__group-name
        %h4
          SAMPLEグループ
      .side__group-lists__newest-massage
        %p
          まだメッセージがありません。
      .side__group-lists__group-name
        %h4
          SAMPLEグループ
      .side__group-lists__newest-massage
        %p
          まだメッセージがありません。
