.side
  .side__menu
    .side__menu__name
      %p
        NAME
    .side__menu__icons
      %span.fa.fa-pencil-square-o
      %span.fa.fa-cog

  .side__group-lists
    .side__group-lists__group
      .side__group-lists__group-name
        %h4
          SAMPLEグループ
      .side__group-lists__newest-massage
        %p
          まだメッセージがありません。
      .side__group-lists__group-name
        %h4
          SAMPLEグループ
      .side__group-lists__newest-massage
        %p
          まだメッセージがありません。
