.side
  .side__menu
    .side__menu__name
      %p
        = current_user.name
    .side__menu__icons
      = link_to new_group_path do
        %span.fa.fa-pencil-square-o
      = link_to edit_user_path(current_user) do
        %span.fa.fa-cog

  .side__group-lists
    - current_user.groups.each do |group|
      .side__group-lists__group-name
        = group.name
      .side__group-lists__newest-massage
        メッセージはまだありません。
